@import 'mixin';
body {
    font-family: 'Montserrat';
    color: white;
    box-sizing: border-box;
    // background-image: repeating-linear-gradient(190deg, red, yellow 7%, green 2%);
    background: #000001;
    // background: white;
    @include small-device {
        font-size: 1rem;
    }
    section {
        div.container {
            padding-top: 30px;
            @include small-device {
                padding-top: 10px;
            }
        }
        h2 {
            color: #31adde;
            margin-top: 30px;
        }
        h3 {
            color: #ebf747;
            margin-bottom: 30px;
        }
    }
    ul {
        padding-inline-start: 0!important;
        text-decoration: none;
        list-style: none;
    }
}