$main-back-color: linear-gradient(45deg, rgb(4, 4, 4), transparent),
linear-gradient(-45deg, rgb(4, 4, 4), transparent),
linear-gradient(135deg, rgb(4, 4, 4), transparent),
linear-gradient(135deg, rgb(4, 4, 4), transparent);
$small-device: 768px;
@mixin small-device {
    @media(max-width: #{$small-device}) {
        @content;
    }
}

body {
    font-family: 'Montserrat';
    color: white;
    box-sizing: border-box;
    background: $main-back-color;
    @include small-device {
        font-size: 0.7rem;
    }
    section {
        height: 600px;
        padding-top: 100px;
        @include small-device {
            margin-top: 20px;
        }
        h2 {
            margin-top: 30px;
        }
    }
    ul {
        text-decoration: none;
        list-style: none;
    }
}