@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Orbitron|Play|Squada+One|Ubuntu&display=swap");
@-webkit-keyframes yourAnimation2 {
  0% {
    -webkit-transform: rotate(0) translateX(-80%);
            transform: rotate(0) translateX(-80%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes yourAnimation2 {
  0% {
    -webkit-transform: rotate(0) translateX(-80%);
            transform: rotate(0) translateX(-80%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes yourAnimation {
  0% {
    -webkit-transform: rotate(0) translateY(90%);
            transform: rotate(0) translateY(90%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@keyframes yourAnimation {
  0% {
    -webkit-transform: rotate(0) translateY(90%);
            transform: rotate(0) translateY(90%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

div.anima {
  -webkit-animation: yourAnimation 1s forwards .5s ease;
          animation: yourAnimation 1s forwards .5s ease;
}

div.anima div.m-auto:last-child {
  opacity: 0;
  -webkit-animation: yourAnimation2 1s forwards 1.5s ease;
          animation: yourAnimation2 1s forwards 1.5s ease;
}

main div {
  position: relative;
}

main section#hero {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  position: relative;
  height: 100vh;
  background: url(../img/cobweb-3724148_1920.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main section#hero h1 {
  color: #23f4f6;
  font-size: 4rem;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  main section#hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

main section#hero img {
  z-index: 1;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  main section#hero img {
    width: 150px;
    height: 150px;
  }
}

main section#hero p {
  display: inline;
  color: #23f4f6;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  main section#hero p {
    font-size: 1rem;
  }
}

main section#hero div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main section#hero div.rounded-circle {
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, rgba(240, 240, 240, 0.94)), to(#333232));
  background: linear-gradient(rgba(240, 240, 240, 0.94) 46%, #333232);
  overflow: hidden;
}

@media (max-width: 768px) {
  main section#hero div.rounded-circle {
    width: 150px;
    height: 150px;
  }
}

main section#hero:before {
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(10, 9, 12, 0.85);
}

main section#skills h2 {
  z-index: 2;
  position: relative;
}

main section#skills img {
  width: 150px;
  border-radius: 50%;
  background: white;
}

@media (max-width: 768px) {
  main section#skills img {
    width: 100px;
  }
}

main section#skills div.text-center {
  margin-top: 40px;
}

main section#skills div.container:before {
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.92);
}

main section#skills div.text-center:nth-child(odd) {
  margin-top: 80px;
  position: absolute;
  z-index: -1;
}

main section#skills li.text-left,
main section#skills li.text-right {
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 768px) {
  main section#skills li.text-left,
  main section#skills li.text-right {
    margin-left: 5%;
    margin-right: 5%;
  }
}

main #portfolio {
  height: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

main #portfolio img {
  display: block;
  width: 100%;
  height: auto;
}

main #portfolio img:hover {
  z-index: 1111;
  width: 140%;
  cursor: pointer;
  position: absolute;
}

main #portfolio p {
  height: 98px;
}

main #portfolio img#zadnji:hover {
  right: 0;
}

main #portfolio div.row {
  height: 450px;
}

@media (max-width: 768px) {
  main #portfolio div.row {
    height: 100%;
  }
}

main #portfolio div.col-lg-4 {
  height: 100%;
  padding: 10px;
}

@media (max-width: 768px) {
  main #portfolio div.col-lg-4 {
    padding: 2px;
  }
}

main #about {
  margin-top: 40px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */